/* scroll bar  */
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #b2754cd8;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width: 10px;
}

/* Navigation Header  */
#navbar{
    background-color: rgba(77, 77, 118, 0.313);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    font-family: "Pixelify Sans", sans-serif;
}
/* .navbar-scrolled{
    background-color: rgba(77, 77, 118, 0.313);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
} */
#logo img{
    border-radius: 10px; 
    width: 60px;
    margin-left: 40px;
}

.navbar-nav{
    margin-left: 50px;
}

.nav-item .nav-link{
    color: rgb(239, 222, 164);
    margin-left: 10px; 
    font-weight: bold; 
    transition: 0.5s;
}

.nav-item .nav-link:hover{
    background: bisque;
    border-radius: 5px; 
    color:black;
}

/* home section */
#home{
    width: 100%; 
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(images/cimp_intro.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 88%
}

#home .content{
    padding-top: 150px;
    margin-left: 56px;
    font-family: "Pixelify Sans", sans-serif;
}
#home .content h3{ 
    font-size: 50px;
    color: white;
}
#home .content p{ 
    margin-top: 10px;
    color: ■white;
}
#btnhome{
    width: 150px; 
    height: 36px; 
    margin-top: 20px;
    color: black;
    background:rgb(255, 255, 255);
    border-radius: 5px; 
    font-weight: bold;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
}
#btnhome:hover{
    background: blueviolet;
    color: rgb(180, 180, 180);

}

/* about section  */
#about{
    width: 100%;
    height: 90vh;
    font-family: "Pixelify Sans", sans-serif;
}
#about .container{
    padding-top: 70px;
    transition: 0.5s; 
}
.heading{
    text-align: center; 
    margin-bottom: 50px;
    color: rgb(255, 255, 255); 
    font-size: 30px; 
    font-weight: bold;
}
.heading span{
    color: #b2744c;
}
#about .content{
    padding-top: 50px;
    text-align: center; 
}
#about .card{
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;
}
#about-btn{
    width: 200px; 
    height: 36px;
    background: transparent;
    border: 2px solid  #b2744c;
    color:#b2744c;
    border-radius: 5px; 
    font-weight: bold; 
    transition: 0.5s; 
    cursor: pointer;
}
#about-btn:hover{
    background-color: #b2744c;
    color: white;
}
@media screen and (max-width:982px){
    #about{
        height: 70vh;
    }
    #about p{
        font-size: 12px;
    } 
    #about .content{
        padding-top: 20px;
    }
    /* #about .card img{
        width: 640px;
        height: 340px;
    } */
}
@media screen and (max-width:766px){
    #logo img{
        border-radius: 10px; 
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    /* .logo{
        font-size: 10px;
    } */
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vh;
    }
    /* #about .card img{
        width:  340px;
        height: 240px;
    } */
    #home .content{
        padding-top: 90px;
        margin-left: 56px;
    }
}

/* top card  */
#top-cards{
    width: 100%; 
    height: 60vh; 
    font-family: "Pixelify Sans", sans-serif;
}
.heading2{
    color: white;
    text-align: center; 
    font-size: 30px; 
    font-weight: bold;  
}
.heading2 span{
    color: #b2744c;
} 
#top-cards .container{
    margin-top: 30px;
}
#top-cards .card{
    border-radius: 10px; 
    transition: 0.5s; 
    cursor: pointer;
    opacity: 100%;
}
#top-cards .card img{
    border-radius: 10px;
}
#top-cards .card:hover{ 
    transform: translateY(-10px);
    opacity: 50%;
}
#about .container:hover{ 
    transform: translateY(-20px);
}

/* footer  */
#footer{
    width:100%;
    background: #745d8c; 
    margin-top: 150px;   
    font-family: "Pixelify Sans", sans-serif;
}
.footer-logo img{ 
    width: 100px; 
    border-radius: 10px; 
    margin-top: 30px; 
    cursor: pointer;
}
.credits{ 
    color:white;
    margin-top: 40px;
    text-shadow: 0px 0px 1px black;
}
.credits span{ 
    text-decoration: none;
    color:rgb(222, 160, 36);
    font-weight: bold;
}
.thanks{
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}

/* arrow button  */
.arrow{
    position: fixed;
    height: 50px; 
    bottom: 40px; 
    right: 50px; 
    text-align: center;
    line-height: 50px; 
}

/* top card resize when mobile  */
@media screen and (max-width:766px){
    #top-cards{
        height: 170vh; 
    }
    #footer{
        width:102%;
    }
}

@media screen and (max-width:506px){
    #top-cards{
        height: 150vh; 
    }
    #footer{
        width:102%;
    }
}

@media screen and (max-width:400px){
    #top-cards{
        height: 120vh; 
    }
}

